img {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68px;
}


p {
    margin-top: 50%;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #02577a;
}
